<!doctype html>
<html style="height: 100%;">
<% include header.ejs %>

<link rel="stylesheet" href="/css/template/layout.css">
<body>
<div class="main">
    <div class="layout-navbar">
        <% include navbar.ejs %>
    </div>
    <div class="layout-sidebar">
        <% include sidebar.ejs %>
    </div>
    <div class="layout-content">
        <div class="content-page" >
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3 class="header"><%=title%></h3>
                    </div>
                </div>

