<nav class="navbar navbar-light">
    <a class="navbar-brand" href="/">
    <img src="/img/HHC_icon.png" width="40" height="40"> MFU Home Health Care</a>
    <div class="nav-right">
        <a class="profile"><%= userName %></a>
        <a class="power"> <i class="material-icons">power_settings_new</i></a>
    </div>

</nav>