<% include partials/layout-header.ejs %>

<h1 style="font-family:verdana;">Home health care  </h1>
<p style="font-family:courier;">mae fah luang</p>
<div class="alert alert-success"  role="alert">
    <div class="jumbotron">
        <h1 class="display-4"style="res">Covid-19!</h1>
        <p class="lead">Stay at home if you feel unwell. If you have a fever, cough and difficulty breathing, seek medical attention and call in advance. Follow the directions of your local health authority. Source: World Health Organization</p>
        <hr class="my-4">
        <p> Super Power Ninja Turbo Neo Ultra Hyper Mega Multi Alpha Meta Extra Uber Prefix Lel</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    ขอความช่วยเหลือ
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เเนะนำ</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                ศูนย์IT 0910190226
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">ติดต่อผู้ดูเเลระบบ</button>
            </div>
        </div>
    </div>
</div>
<script src="js/view.index.js"></script>
<% include partials/layout_foot.ejs %>