<% include partials/layout-header.ejs %>
<div class="dataZone">
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <label>
                        จำนวนคนทั้งหมด <span id="numAll">0</span> (คน)
                    </label>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <label>
                        ผู้ชาย <span id="numM">0</span> (คน)
                    </label>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <label>
                        ผู้หญิง <span id="numF">0</span> (คน)
                    </label>
                </div>
            </div>
        </div>
    </div>
    </div>


        <link rel="stylesheet" type="text/css" href="css/reportPatient.css">
<script src="js/view.reportPatient.js"></script>
<% include partials/layout_foot.ejs %>